main {
    display: flex;
    /* width : 100vw; */

    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.CreatePostSection {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 40vw;
    height: 7vh;

    margin: 2%;

    border: solid white;
    overflow: hidden;


    box-sizing: border-box;
    background-color: #1A1A1B;
    border: 1px solid #272729;
    /* border-radius: 1.25em; */
    box-shadow: none;

}

.CreatePostSection>input {
    display: flex;

    height: 80%;
    width: 75%;

    justify-content: center;
    align-items: center;


    align-items: center;
    box-sizing: border-box;
    background-color: #272729;
    border: 1px solid #272729;
    border-radius: 1.25em;
    box-shadow: none;



    color: white;
    caret-color: white;
    /* Cursor color */

    font-size: 1rem;
    align-items: center;
    justify-content: center;

    padding: 1vh;


}

.createPostOptions {
    width: 20%;
    /* border: solid white; */
    display: flex;
    justify-content: space-evenly;
}


/* /**************** */
/* Posts Section  */


.postsSectionContainer {
    /* border: solid violet; */
    display: flex;

    flex-direction: row;

    /* align-items: center; */

    /* background-color: #161617; */
    margin: 2%;


    /* border: 0.1px solid white; */

    background-color: #161617;

    justify-content: center;
    /* align-items: center; */

    /* border: 1px solid #ccc; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
    transform: translateY(-4px);
    transition: transform 0.3s;

    border-radius: 2%;

    padding: 1%;

}

/* **********************************
voting Section... */


.votingSection {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 20%;

    height: 50%;
    font-size: 1.3rem;
}

.votingSection>button {
    height: 3vh;
    width: 2vw;
}


/* **********************************
AllPosts Section... */


.PostsSection {
    display: flex;

    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    width: 40vw;
    /* height: 7vh; */

    margin: 2%;

    /* border : solid white; */
    overflow: hidden;


    box-sizing: border-box;
    /* background-color: #1A1A1B;    */

    /* border: 1px solid #272729;   */
    /* border-radius: 1.25em; */
    box-shadow: none;


}



/* **************************
*/

.post {
    display: flex;
    flex-direction: column;
    border: 0.5px solid grey;

    margin: 2%;
    background-color: #1A1A1B;

    justify-content: center;
    align-items: center;


    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    
    transform: translateY(-4px);
    transition: transform 0.3s;


    border-radius: 2%;
    padding : 1%;

}

.post>h3 {
    /* margin-left : 80%; */
}

.post>h1 {
    margin: 2%;
}

.post>h4 {
    /* border :1px solid white; */
    margin: 2%;
}

.post>img {
    height: 70%;
    width: 80%;
}

.postButtons {
    /* border : solid red; */

    display: flex;
    flex-direction: row;

    /* height: 40%; */
    height: 10vh;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.postButtons>button {
    height: 30%;
    width: 40%;
}

.postsSectionContainer:hover, .post:hover, button:hover {
    transform: translateY(-2px); 
    cursor: pointer;
    box-shadow: 1px 1px 1px white;
}