
.CreatePostSection {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    /* height: 7vh; */

    /* margin: 2%; */

    /* border: solid red; */
    overflow: hidden;


    box-sizing: border-box;
    /* background-color: #1A1A1B; */
    /* border: 1px solid #272729;  */
    /* border-radius: 1.25em; */
 
}


.CreatePostSection>input {
    display: flex;

    height: 80%;
    width: 75%;

    justify-content: center;
    align-items: center;


    align-items: center;
    box-sizing: border-box;
    /* background-color: #272729; */
    border: 0.5px solid #272729;
    border-radius: 1.25em;
    box-shadow: none;



    /* color: white;
    caret-color: white; */
    /* Cursor color */

    font-size: 1rem;
    align-items: center;
    justify-content: center;

    padding: 1vh;


}

.createPostOptions {
    width: 30%;
    /* border: solid white; */
    display: flex;
    justify-content: space-evenly;
}



img {
    display : flex;

    height: 80%;
    /* width : 5%; */
}


/* *********************************** */

/* .CreatePostForm Section */

main{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 2vh 2vw;

}

form {
    margin: 5vh 5vw;
    padding: 2vh 2vw;

    display : flex;
    justify-content: flex-start;
    align-items:flex-start;
    flex-direction: column;

    height: 50%;
    width: 40%;

    /* background-color: #1A1A1B; */

    /* border : solid black; */

    cursor : pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-width: 2px;



}

form > input, form > button {
    height: 6vh;
    width: 80%;
    margin: 2%;

    font-size: 1rem;
    
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #272729;
    border-radius: 0.25em;
    box-shadow: none;

    padding: 1vh;
}

#communitiesDropbox {
    width: 32% !important; 
}

a:hover, button:hover, input:hover{
    cursor : pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    border-width: 2px;
}




.headings {
    margin : 5%;
}

form:hover, .headings > h2:hover {
    cursor : pointer;
    box-shadow: 1px 1px 1px white;
    border-width: 2px;
    border-color: black;;
}

.headings {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

    width : 100%;
    /* border : solid black; */
    /* border-width: 0.1px; */

}


.headings > h2 {
    /* border : solid black; */
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1vh 1vw;
}
